.box {
    margin: 200px;
    border: 1px solid black;
    padding: 20px;
    background-color: azure;
}

button {
    background-color: blue;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: white;
}